<div class="collection-category-header">
  <div class="container">
    <ul class="d-flex eng-font">
      <li class="category" data-category="optical">
        <a href="collection-optical.html">OPTICAL</a>
      </li>
      <li class="category" data-category="sunglasses">
        <a href="collection-sunglasses.html">SUNGLASSES</a>
      </li>
      <li class="category category-functional" data-category="functional">
        <a href="#">FUNCTIONAL</a>
      </li>
    </ul>
  </div>
</div>
