<header class="header bg-primary fs-xs">
  <div
    class="container d-flex pt-2 pb-2 justify-content-space-between align-items-center"
  >
    <div class="logo">
      <a href="index.html"
        ><img src="../assets/images/logo-white.png" alt="logo"
      /></a>
    </div>

    <ul class="menu d-flex">
      <li class="menu-item"><a href="products.html">系列鏡框</a></li>
      <li class="menu-item"><a href="locations.html">門市據點</a></li>
      <li class="menu-item"><a href="blog.html">部落格</a></li>
      <li class="menu-item"><a href="faq.html">常見問題</a></li>
    </ul>
  </div>
</header>
