.pagination {
  padding-bottom: 80px;
  color: #555555;
  font-size: 19px;
  font-family: "Roboto", sans-serif;

  @include mobile {
    padding-bottom: 64px;
    font-size: 14px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  &-list {
    display: flex;
  }

  &-item {
    padding: 12px 15px;
    border: 1px solid #555555;

    &.active {
      background-color: #000000;
      color: white;
    }

    &.next {
      background-color: #f2f2f2;
    }
  }
}
