<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="index-banner">
      <div class="container">
        <div class="title">
          <h3>Promise-Desert 2020 早春系列</h3>
          <h2>看得清，才能看得遠</h2>
          <a href="product.html"><button>立即購買</button></a>
        </div>
      </div>
    </div>

    <div class="features bg-secondary">
      <div class="container">
        <h4 class="section-title">用專業的心，做專業的事</h4>
        <ul class="d-flex">
          <li class="feature">
            <img src="../assets/images/home-section2-1.png" alt="coin icon" />
            <h5>單一價格</h5>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="feature">
            <img src="../assets/images/home-section2-2.png" alt="clock icon" />
            <h5>20 分鐘即可取件</h5>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="feature">
            <img src="../assets/images/home-section2-3.png" alt="heart icon" />
            <h5>安心售後服務</h5>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="feature">
            <img
              src="../assets/images/home-sectioin2-4.png"
              alt="glasses icon"
            />
            <h5>關於鏡片</h5>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="collection">
      <div class="container">
        <h4 class="section-title">經典系列鏡框</h4>
        <ul class="d-flex">
          <li class="type">
            <a href="optical.html">
              <img
                src="../assets/images/home-section3-1.png"
                alt="optical collection"
              />

              <h5 class="subtitle eng-font">OPTICAL</h5>
            </a>
          </li>

          <li class="type">
            <a href="sunglasses.html">
              <img
                src="../assets/images/home-section3-2.png"
                alt="sunglasses collection"
              />
              <h5 class="subtitle eng-font">SUNGLASSES</h5>
            </a>
          </li>

          <li class="type">
            <a href="functional.html">
              <img
                src="../assets/images/home-section3-3.png"
                alt="functional collection"
              />
              <h5 class="subtitle eng-font">FUNCTIONAL</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="cobrand">
      <div class="container">
        <h4 class="section-title">聯名設計鏡框</h4>

        <ul class="brand-list d-flex">
          <li class="brand">
            <a href="#">
              <picture>
                <source
                  srcset="../assets/images/home-section4-1-sm.png"
                  media="(max-width: 576px)"
                />
                <img
                  src="../assets/images/home-section4-1.png"
                  alt="double A+"
                />
              </picture>
              <h5 class="subtitle">DOUBLE A+</h5>
            </a>
          </li>

          <li class="brand">
            <a href="#"
              ><picture>
                <source
                  srcset="../assets/images/home-section4-2-sm.png"
                  media="(max-width:576px)"
                />
                <img src="../assets/images/home-section4-2.png" alt="youth" />
                <h5 class="subtitle">YOUTH</h5>
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="customer-feedback">
      <div class="container">
        <h4 class="section-title">顧客推薦</h4>

        <ul class="d-flex customer-feedback-list">
          <li class="feedback">
            <div class="card">
              <img src="../assets/images/home-section5-1.png" alt="customer" />

              <div class="feedback-details">
                <div class="text">
                  <p class="name">Jessy</p>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <div class="date">2021/06/20</div>
              </div>
            </div>
          </li>

          <li class="feedback">
            <div class="card">
              <img src="../assets/images/home-section5-2.png" alt="customer" />

              <div class="feedback-details">
                <div class="text">
                  <p class="name">凱倫</p>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                </div>
                <div class="date">2021/04/18</div>
              </div>
            </div>
          </li>
          <li class="feedback">
            <div class="card">
              <img src="../assets/images/home-section5-3.png" alt="customer" />

              <div class="feedback-details">
                <div class="text">
                  <p class="name">悠悠</p>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                </div>
                <div class="date">2020/12/25</div>
              </div>
            </div>
          </li>
          <li class="feedback">
            <div class="card">
              <img src="../assets/images/home-section5-4.png" alt="customer" />

              <div class="feedback-details">
                <div class="text">
                  <p class="name">Kyuan</p>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <div class="date">2020/10/31</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="contact-us-form bg-secondary">
      <div class="form-container">
        <h4 class="section-title">聯絡我們</h4>
        <p class="description">
          我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </p>

        <form>
          <div class="input">
            <label for="name">姓名</label>
            <input type="text" id="name" name="name" placeholder="陳小明" />
          </div>

          <div class="input">
            <label for="phone">聯絡電話</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="0912-345-678"
            />
          </div>

          <div class="input">
            <label for="email">電子郵件</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="example@email.com"
            />
          </div>

          <div class="input">
            <label for="feedback">意見反應</label>
            <textarea
              name="feedback"
              id="feedback"
              cols="60"
              rows="8"
              placeholder="請輸入您的意見"
            ></textarea>
          </div>

          <div class="tnc">
            <input type="checkbox" id="tnc" name="tnc" value="tnc-true" />
            <label for="tnc">
              我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
            >
          </div>

          <input type="submit" value="確認送出" />
        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
